@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.food-items{
  // width:60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  // overflow: auto;
}

.food-item-wrapper{
  margin: 15px;
  color: #bbb;
  
  .food-item{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #444;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px #000;
  
    img{
      width:100%;
      height: 100%;
      position: absolute;
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
      // filter: blur(0px) brightness(100%);
      // -webkit-filter: blur(0px) brightness(100%);
      cursor: pointer;
    }
  }

  .food-name{
    margin: 5px;
    text-align: center;
    cursor: pointer;
  }

  &:hover{
    color: #fff;
  }
}

.details{
  position: relative;
  z-index: 1;
  margin: 10px;
  transform: translate(0,-100%);
  opacity: 0;
  pointer-events: none;

  span {
    font-weight: bold;
    font-family: 'PT Mono', monospace !important;
  }
}

.food-item-wrapper:hover .details{
  transform: translate(0,0);
  opacity: 1;
  transition: all 0.3s ease;
}

.food-item-wrapper:hover img{
  -webkit-filter: brightness(20%);
  filter: brightness(20%);
  // -webkit-filter: blur(2px) brightness(40%);
  // filter: blur(2px) brightness(40%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info{
  // position: absolute;
  bottom: 0;
  position: sticky;
  width: 100%;
  color: yellowgreen;
  font-size: 11px;
  background-color: #333;
  // letter-spacing: 0.1em;
}
