
.search-section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;

  p{
    font-size: 1.2em;
    span{
      color: greenyellow;
    }
  }

  .input-container{
    width:56%;
    height: 60%;
    background-color:#333;
    display: flex;
    align-items: center;
    padding: 0 1%;
    justify-content: space-between;
    border-radius: 5px;
    // overflow: hidden;
  }

  input{
    width:92%;
    background-color: #333;
    border:none;
    outline: none;
    // padding: 0 2%;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    height: 100%;
  }

  div.submit{
    width:30%;
    background-color: #555;
    height: 60%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:6vh;
    height: 6vh;
    background-color:#444;
    color: #aaa;
    font-weight: bolder;
    backface-visibility: hidden;
    cursor: pointer;

    &:hover{
      i{
        transform: scale(1.1);
        color: #ccc;
        transition: all 0.2s; 
      }
    }
  }
}


@keyframes zoomIn{
  0%{
    transform:scale(.1);
  }
  80%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}