.selected-section{
  width: 40vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  justify-content: flex-start;

  .heading{
    color: #999;
    font-size: 2em;
    padding: 4.5vh 0;
  }

  table{
    width: 100%;
    border-collapse: collapse ;
    text-align: center;

    thead{
      cursor: default;
      pointer-events: none;
      tr{
        background-color: #343434;

        th{
          font-weight: 100 !important;
        }

        span{
          color: #999;
        }
      }
    }

    tbody{
      cursor: pointer;
      tr:nth-child(n):hover{
        background-color: #555;
      }
      
      tr:nth-child(even){
        background-color: #343434;
      }
  
      tr:nth-child(odd){
        background-color: #444;
      }
    }

    td,th{
      border:none;
      text-align: center;
      padding: 2vh 1vh;
    }
  }
}

.init-msg{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #444;
  margin: 10px 0;
  text-align: center;
  color: yellowgreen;
}

